.wrapper__left {
  text-transform: uppercase;
}

.wrapper__left p {
  background: #ed6c63;
  width: fit-content;
  font-size: 0.8rem;
  padding: 0.1rem 0.4rem;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  color: #fff;
}

.wrapper__left h3 {
  font-size: 1rem;
  text-transform: none;
  color: rgba(0, 0, 0, 0.6);
}

.wrapper__left button {
  text-transform: uppercase;
  margin-top: 0.6rem;
  padding: 0.5rem 1.3rem;
  background: #ed6c63;
  color: aliceblue;
  border: none;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.wrapper__left button:hover {
  background: black;
}
