.subscribe {
  margin: 2rem auto;
  margin-top: 3rem;
  max-width: 60rem;
  padding: 0 3rem;
  background: rgba(0, 0, 0, 0.1);
}

.subscribe .container {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
}

.subscribe__left {
  margin-right: 5rem;
}

.subscribe__left h1 {
  font-size: 1.5rem;
}

.subscribe__left p {
  color: rgba(0, 0, 0, 0.3);
}

.subscribe__right--form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
}

.subscribe__right--form input[type="text"] {
  height: 100%;
  padding: 0.45rem 1rem;
  padding-bottom: 0.5rem;
  font-size: 1.1rem;
  margin-right: 0.2rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.subscribe__right--form button {
  text-transform: uppercase;
  padding: 0.5rem 1.3rem;
  background: #ed6c63;
  color: aliceblue;
  border: none;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.subscribe__right--form button:hover {
  background: black;
}
