.offer__left {
  align-self: start;
}

.offer__left h1 {
  text-transform: uppercase;
  font-size: 1.5rem;
  color: #ed6c63;
}

.offer__left h2 {
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0.4);
}

.offer__left h3 {
  text-transform: capitalize;
  font-size: 2rem;
}

.offer__left button {
  text-transform: uppercase;
  margin-top: 0.6rem;
  padding: 0.5rem 1.3rem;
  background: #ed6c63;
  color: aliceblue;
  border: none;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.offer__left button:hover {
  background: black;
}
