.header__top--left-item {
    text-transform: capitalize;
    p {
        margin: 0;
        margin-right: 2rem;
    }

    img {
        width: 20px;
        height: auto;

        margin-right: 0.3rem;
    }
}
