.wrapper__right {
  margin-left: 7rem;
  width: 400px;
  position: relative;
}

.wrapper__right .slick-prev,
.wrapper__right .slick-next {
  top: unset !important;
  bottom: -2rem !important;
  background-color: #ed6c63 !important;
  width: 30px;
  height: 30px;
  padding: 0.2rem;
}

.wrapper__right .slick-prev polygon,
.wrapper__right .slick-next polygon {
  fill: #fff !important;
}

.wrapper__right .slick-prev:hover,
.wrapper__right .slick-next:hover {
  background-color: black !important;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.wrapper__right .slick-prev {
  left: unset !important;
  right: 2.3rem !important;
}

.wrapper__right .slick-next {
  left: unset !important;
  right: 0 !important;
}
